{require_otp_vsn, "R16"}.

{erl_opts, [debug_info, fail_on_warning, warning_as_errors,
           {parse_transform, lager_transform}]}.

{erl_first_files, [
                   "src/md_record.erl"
                  ]}.

{deps,[
       {lager, ".*", {git, "git://github.com/basho/lager", {tag, "2.0.3"}}},
       {ibrowse, ".*", {git, "git://github.com/cmullaparthi/ibrowse.git", {tag, "v4.0.2"}}},
       {ecsv, ".*", {git, "git://github.com/refuge/ecsv.git", {tag, "0.3"}}},
       {jsonx, ".*", {git, "git://github.com/iskra/jsonx", "master"}},
       %%{riakc, ".*", {git, "git://github.com/basho/riak-erlang-client", {tag, "1.4"}}}
       {riakc, ".*", {git, "git://github.com/basho/riak-erlang-client", {branch, "master"}}}
       ]}.
