{require_otp_vsn, "R16|17"}.

{erl_opts, [debug_info, fail_on_warning, warning_as_errors,
           {parse_transform, lager_transform}]}.

{escript_incl_apps, [riakc, protobuffs, riak_pb, jsone, ecsv, lager, goldrush]}.

{erl_first_files, ["src/md_record.erl"]}.

{deps,[
       {lager, ".*", {git, "git://github.com/basho/lager", {tag, "2.0.3"}}},
       {ecsv, ".*", {git, "git://github.com/refuge/ecsv.git", {tag, "0.3"}}},
       {jsone, ".*", {git, "git://github.com/sile/jsone", "v0.2.4"}},
       %%{jsone, ".*", {git, "git://github.com/kuenishi/jsone", {branch, "native-utf8"}}},
       %%{jsone, ".*", {git, "git://github.com/kuenishi/jsone", "469ca782f982ca19c1114427428876c3b0b75115"}},
       {riakc, ".*", {git, "git://github.com/basho/riak-erlang-client", {branch, "master"}}}
       ]}.


{pre_hooks, [{compile, "priv/catch-all-schema.sh"}]}.